// imports 
@import "./variables";


// HEADER & NAVBAR

.header {
    font-family: "Lulo Clean One", sans-serif;
    color: white;
    background-color: #591902;
    display: block;
    height: 100px;
}

.headerLogo {
    background-image: url(assets/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 100px; 
    width: 250px; 
}

.reserveButton {
    color: black;
}



//MENU

.menuHero {
    width: 100%;
    height: 500px;
    background-image: url(assets/cafe-room.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menuHeader {
    font-family: 'Avenir LT Std', sans-serif;
}

.menuOpener {
    margin: 0;
    font-size: 25px;
    text-indent: 2rem;
    text-justify: auto;
    padding: 40px;
}

.menuGallery {    
   background-image: url(assets/menu-gallery.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   width: 100%;
   height: 800px;
}


.pageHeader {
    font-family: "Lulo Clean Outline", sans-serif;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.dailyTimes {
    font-size: 20px;
    padding-bottom: 15px;
}

.menuSelection1 {
    background-color: #95d9da;
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    width: 500px;
}

.menuSelection2 {
    background-color: #A1CF6B;
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    width: 500px;
}

.menuSelection3 {
    background-color: #D9981E;
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    width: 500px;
}

.menuSelection4 {
     background-color: #BF7960;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     width: 500px;
 }

 .menuSelection5 {
     background-color: #8E9DCC;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     width: 500px;
 }

 .menuSelection6 {
     background-color: #E3D7FF; 
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     width: 500px;
 }

.menuCategory {
    font-family: "Lulo Clean Bold", sans-serif;
    font-size: 25px;
    padding-bottom: 40px;
}

.menuItem {
    padding-bottom: 10px;
}

.itemDescription {
    padding-bottom: 30px;
}



// RESERVATIONS MODAL

.modalItem {
    font-family: 'Avenir LT Std', sans-serif;
    padding-bottom: 30px;
}


.findTable {
        text-align: center;
        padding: 20px;
        font-family: "Lulo Clean Bold", sans-serif;
}



//CATERING

#cateringHero {
     width: auto;
     height: 500px;
     background-image: url(assets/bowls.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
#cateringInfo {
     margin: 0;
     font-size: 25px;
     text-indent: 2rem;
     text-justify: auto;
     padding: 40px;
}

.cateringOptions {
     font-family: "Lulo Clean Bold", sans-serif;
     font-size: 25px;
     padding-bottom: 40px;
}
#breakfastCatering, #lunchCatering {
margin-bottom: 50px;
}

.tierOne {
     position: relative;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     padding: 30px;
     margin: 10px;
}

.tierTwo {
     position: relative;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     padding: 30px;
     margin: 10px;
}
.addOns{
     position: relative;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     padding: 30px;
     margin-top: 10px;
}

.breakfast1 {
    background-color: #95d9da;
}
.breakfast2 {
    background-color: #A1CF6B;
}
.addOns1 {
    background-color: #D9981E;
}
.lunch1 {
    background-color: #BF7960;
}
.lunch2 {
    background-color: #8E9DCC;
}
.addOns2{
    background-color: #E3D7FF; 
}

@media only screen and (min-width: 800px) {
     .mealOptions{
          display: flex;
     }
     .tierOne, .tierTwo{
          width: 50%;
     }
     .enhancementOption {
          display: inline-block;
          vertical-align: top;
          width: 50%;
     
     }
     .cateringDescription {
          margin-bottom: 20px;
     }
     .cateringPrice {
          position: absolute;
          margin: auto;
          bottom: 20px;
     }
}

@media only screen and (max-width: 799px) {
     .mealOptions {
          display:block;
          flex-wrap: none;
     }
   }



//ORDER

.orderHero {
     width: auto;
     height: 500px;
     background-image: url(assets/brunch-board.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
#orderIntro {
     margin: 0;
     font-size: 25px;
     text-indent: 2rem;
     text-justify: auto;
     padding: 40px;
}
.orderCategory {
     font-family: "Lulo Clean Bold", sans-serif;
     font-size: 25px;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 .orderButton {
    color: black;
    margin-bottom: 20px;
}
.accordion-button:not(.collapsed) {
    color: #D9981E;
    background-color: rgba(217,152,30,.1);
}
.totalSection {
    margin-top: 20px;
}



//ABOUT US

.aboutUsHero {
     width: auto;
     height: 500px;
     background-image: url(assets/Mimosa-on-a-Brunch-Table-scaled.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
#aboutUsIntro {
     margin: 0;
     font-size: 25px;
     text-indent: 2rem;
     text-justify: auto;
     padding: 40px;
}
.teamMember{
     font-family: "Lulo Clean Bold", sans-serif;
     font-size: 25px;
     
}
.member {
    display: inline-block;

    margin: 0;
}

.hidden {
    display: none;
}
.techBio, .restaurantBio {

    font-family: 'Avenir LT Std', sans-serif;
    font-size: 20px;
}

.email {
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 20px;
    
    a:link {
        color: #591902;
        font-size: 20px;
    }
    a:hover {
        color: #D9981E;
    }
    a:visited {
        color: #95d9da;
    }
}
.bioSwitch {
    width: 100%;
    margin-top: 10px;
    background-color: #591902;
    color: white;
    font-family: 'Avenir LT Std', sans-serif;
    border: none;
}

.bioSwitch:hover {
    background-color: rgba(89,25,2,.5);
    border: none;
}


@media only screen and (min-width: 800px) {

    .teamMemberBio {
        display: flex;
    }
    .picAndButton {
        width: 20%;
        height: 20%;
        margin-right: 30px;
        margin-top: 25px;

    }
    .teamMemberPic {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: solid 5px #591902;
    } 
    
    .bothBios {
        width: 80%;
        margin-bottom: 50px; 
    }
}
@media only screen and (max-width: 799px) {
    .teamMemberPic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border-radius: 10px;
        margin-bottom: 30px;
        margin-top: 25px;
        border: solid 5px #591902;
    }

    .bioSwitch {
        margin-bottom: 20px;
    }
}


// FOOTER

.footerColor {
    background-color: $footer-bkg-color;
    color: $footer-txt-color;
}

.footerHeader {
    font-family: "Lulo Clean Bold", sans-serif;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 70px;
}

.footerNav {
    font-family: "Lulo Clean One", sans-serif;
}

.footerAddress {
    font-family: "Avenir LT Std", sans-serif;
    padding-left: 30px;
    padding-bottom: 30px
}

