/*Universal CSS*/

header {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #591902;
}

nav {
  font: Arial, Helvetica, sans-serif;
  color: #591902;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body {
  background-color: #EBEDF2;
  font-family: Arial, Helvetica, serif;
  color: black;
} 

h2, h3, h4 {
  font-family: Garamond, sans-serif;
  color: #591902;
}

footer {
  background-color: #BF7960;
}





/*Classes*/

/*
.header {
  
}*/


/*Logo image*/
.headerLogo {
  background-image: url(assets/logo.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 12pt;
  width: 200px; 
  height: 100px; 
}

/*
.headerNav {
<div className='headerLogo'></div></Col>
}
*/

/*Menu hero image*/
.menuHero {
  width: 100%;
  height: 720px;
  background-image: url(assets/cafe-room.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Text overlaid onto Menu's hero image*/
/*.menuHeroText {
  position: absolute;
  top: 50%;
  left: 10%;
  translate: translate(-50%,-50%);
  color: white;
  font-size: 3em;
}*/


/*
.bookReservation {

}
*/


/* IDs*/



/*Specific CSS Features*/