// imports 
@import "./variables";


// HEADER

.header {
    font-family: "Lulo Clean One", sans-serif;
    color: white;
    background-color: #591902;
    display: block;
    height: 100px;
}

.headerLogo {
    background-image: url(assets/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 100px; 
    width: 250px; 
}

.reserveButton {
    color: black;
}



//MENU

.menuHero {
    width: 100%;
    height: 500px;
    background-image: url(assets/cafe-room.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menuHeader {
    font-family: 'Avenir LT Std', sans-serif;
}

.menuOpener {
    margin: 0;
    font-size: 25px;
    text-indent: 2rem;
    text-justify: auto;
    padding: 40px;
}

.pageHeader {
    font-family: "Lulo Clean Outline", sans-serif;
    font-size: 50px;
    padding-bottom: 10px;
}

.dailyTimes {
    font-size: 20px;
    padding-bottom: 15px;
}

.menuSelection1 {
    background-color: #D9981E;
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 30px;
}

.menuSelection2 {
    background-color: #BF7960;
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 30px;
}

.menuSelection3 {
    background-color: #F28B0C;
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 30px;
}

.menuSelection4 {
     background-color: #0081A7;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     padding: 30px;
 }

 .menuSelection5 {
     background-color: #00afb9;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     padding: 30px;
 }

 .menuSelection6 {
     background-color: #95d9da;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     padding: 30px;
 }

.menuCategory {
    font-family: "Lulo Clean Bold", sans-serif;
    font-size: 25px;
    padding-bottom: 40px;
}

.menuItem {
    padding-bottom: 10px;
}

.itemDescription {
    padding-bottom: 30px;
}



// RESERVATIONS

.reserveHero {
    width: auto;
    height: 700px;
    background-image: url(assets/cafe-entrance.png);
    background-repeat: no-repeat;
    background-size: cover;
}

//CATERING
#cateringHero {
     width: auto;
     height: 500px;
     background-image: url(assets/bowls.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
#cateringInfo {
     margin: 0;
     font-size: 25px;
     text-indent: 2rem;
     text-justify: auto;
     padding: 40px;
}

.cateringOptions {
     font-family: "Lulo Clean Bold", sans-serif;
     font-size: 25px;
     padding-bottom: 40px;
}
#breakfastCatering, #lunchCatering {
margin-bottom: 50px;
}

.tierOne {
     position: relative;
     background-color:#D9981E;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     padding: 30px;
     margin: 10px;
}

.tierTwo {
     position: relative;
     background-color:#F28B0C;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     padding: 30px;
     margin: 10px;
}
.addOns{
     position: relative;
     background-color:#BF7960;
     font-family: 'Avenir LT Std', sans-serif;
     font-size: 20px;
     border-radius: 10px;
     padding: 30px;
     margin-top: 10px;

}

@media only screen and (min-width: 800px) {
     .mealOptions{
          display: flex;
     }
     .tierOne, .tierTwo{
          width: 50%;
     }
     .enhancementOption {
          display: inline-block;
          vertical-align: top;
          width: 50%;
     
     }
     .cateringDescription {
          margin-bottom: 20px;
     }
     .cateringPrice {
          position: absolute;
          margin: auto;
          bottom: 20px;
     }
}

@media only screen and (max-width: 799px) {
     .mealOptions {
          display:block;
          flex-wrap: none;
     }
   }

//ORDER
.orderHero {
     width: auto;
     height: 500px;
     background-image: url(assets/brunch-board.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
#orderIntro {
     margin: 0;
     font-size: 25px;
     text-indent: 2rem;
     text-justify: auto;
     padding: 40px;
}
.orderCategory {
     font-family: "Lulo Clean Bold", sans-serif;
     font-size: 25px;
     padding-top: 20px;
     padding-bottom: 20px;
 }

//ABOUT US
.aboutUsHero {
     width: auto;
     height: 500px;
     background-image: url(assets/Mimosa-on-a-Brunch-Table-scaled.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
#aboutUsIntro {
     margin: 0;
     font-size: 25px;
     text-indent: 2rem;
     text-justify: auto;
     padding: 40px;
}
.teamMember{
     font-family: "Lulo Clean Bold", sans-serif;
     font-size: 25px;
     padding-bottom: 40px;

}
// FOOTER
.footerColor {
    background-color: $footer-bkg-color;
    color: $footer-txt-color;
}

.footerHeader {
    font-family: "Lulo Clean Bold", sans-serif;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 50px;
}

